<!-- Modal Project-->
<div class="modal fade" id="MdlProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Search Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
                    <input type="text" class="form-control search_box" placeholder="Search" (keypress)="onSearchProjectKeyPress($event)" name="searchprojectText" 
                     [(ngModel)]="searchprojText" />
                     <button type="submit" class="btn_search" (click)="searchProject()"><i class="fa fa-search" ></i></button>
            </div>
        </div>
        <hr >
    
    <div style="max-height: 300px;overflow-y:auto;">
        <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Select</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let proj of projectLst">
                <td>{{proj.projectName}}</td>
                <td> {{proj.startDate | date:'mediumDate'}} </td>
                <td>{{proj.endDate | date:'mediumDate'}}</td>
                <td>
                    <input type="radio" name="select_project" (click)="projectSelect(proj)" data-dismiss="modal">
              </td>
              </tr>
              
            </tbody>
          </table>
    </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

   <!-- Model Task-->
  <div class="modal fade" id="MdlTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Search Task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
                    <input type="text" class="form-control search_box" placeholder="Search" (keypress)="onSearchTaskKeyDown($event)" name="searchtaskText" 
                     [(ngModel)]="searchtaskText"  autocomplete="off"/>
                     <button type="submit" class="btn_search" (click)="searchTask()"><i class="fa fa-search" ></i></button>
            </div>
        </div>
        <hr >
        <div *ngIf="!showtaskLst" >
                No task mapped to selected Project yet.
        </div>
    <div *ngIf="showtaskLst" style="max-height: 300px;overflow-y:auto;">
        <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Select</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tsk of taskLst">
                <td>{{tsk.taskName}}</td>
                <td> {{tsk.startDate | date:'mediumDate'}} </td>
                <td>{{tsk.endDate | date:'mediumDate'}}</td>
                <td>
                    <input type="radio" name="select_task" (click)="taskSelect(tsk)" data-dismiss="modal">
              </td>
              </tr>
              
            </tbody>
          </table>
    </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal User-->
<div class="modal fade" id="MdlManager" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Manager List</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
                    <input type="text" class="form-control search_box" placeholder="Search" (keypress)="onSearchUserKeyDown($event)"
                     [(ngModel)]="searchuserText" />
                     <button type="submit" class="btn_search" (click)="searchUser()"><i class="fa fa-search" ></i></button>
            </div>
            
        </div>
        <hr >
    
    <div style="max-height: 300px;overflow-y:auto;">
        <table class="table table-hover" style="max-height: 100px;overflow-y: auto;">
                <thead class="thead-light">
                  <tr>
                    <th> Name</th>
                    <th>Emp Id</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let usr of userLst">
                    <td>{{usr.firstName + " " + usr.lastName +" ("+ usr.empId+")"}}</td>
                    <td>{{usr.empId}}</td>
                    <td>
                      <input type="radio" name="select_manager" (click)="userselect(usr)" data-dismiss="modal">
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



<div class="container p-2 my-4 border ">
<!-- {{message}} -->
<h4 style="text-align: center;">{{title}} Task</h4>
<hr>
<form [formGroup]="taskForm" (ngSubmit)="onSubmitTask()">
<div class="form-group row">
        <div class="col-md-2">
            <label for="proj">Project:</label>               
        </div>
        <div class="col-md-8">
            <input type="text" readonly class="form-control main_search_box"  id="proj"  formControlName="projectName" >
            <input type="hidden" id="projId" formControlName="projId" readonly="readonly">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#MdlProject">
                Search
              </button>
        </div>
        <div class="col-md-3">
            
        </div> 
</div>   

<div class="form-group row">
    <div class="col-md-2">
        <label for="Task">Task:</label>               
    </div>
    <div class="col-md-8">
        <input type="text" autocomplete="off" class="form-control" placeholder="Task" id="Task" formControlName="taskName">
    </div> 
</div> 

<div class="form-group row">
    <div class="col-md-2">   
                 
    </div>
    <div class="col-md-8">
        <input type="checkbox"  id="pTask" class="form-control check_box" (change)="checkChange()"  id="chkdate" formControlName="ptaskcheck" placeholder="Task">    
                <label for="ptaskcheck">Parent Task</label>
    </div> 
</div> 

<div class="form-group row">
        <div class="col-md-2">   
                <label for="pTask">Priority</label>           
        </div>
        <div class="col-md-8">
                <input type="range" style="width:100%;" class="form-control  custom-range" min="0" max="30" value="15" 
               id="myRange" formControlName="priority" formControlName="priority">   
        </div> 
    </div> 

    <div class="form-group row">
            <div class="col-md-2">
                <label for="parntTask">Parent Task:</label>               
            </div>
            <div class="col-md-8">
                <input type="text" readonly class="form-control main_search_box" placeholder="Parent Task" id="parntTask"
                formControlName="ptask" >
                <input type="hidden" id="ptaskId" formControlName="ptaskid">
                <button type="button" class="btn btn-info" (click)="searchTask()" data-toggle="modal" data-target="#MdlTask" [disabled]="!taskForm.controls['projId'].value || taskForm.controls['ptaskcheck'].value" >Search</button>
            </div>
            <div class="col-md-3">
               
            </div> 
    </div>   

    <div class="form-group row">
            <div class="col-md-2">
                <label for="sDate">Start Date</label>               
            </div>
            <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-5">
                        <input type="date" width="100%" class="form-control" placeholder="dd-MM-yyyy" id="sDate"
                        formControlName="startDtaeDisplay" >
                    </div>
                    <div class="col-md-3">
                            <label for="eDate">End Date</label>               
                        </div>
                        <div class="col-md-4">
                            <input type="date" width="100%" class="form-control" placeholder="dd-MM-yyyy" id="eDate" 
                            formControlName="endDateDisplay">
                        </div>
                    </div>
            </div>
            
    </div>   

    <div class="form-group row">
            <div class="col-md-2">
                <label for="User">User:</label>               
            </div>
            <div class="col-md-8">
                <input type="text"  readonly class="form-control main_search_box" placeholder="Search User" id="User" formControlName="User">
                <input type="hidden" formControlName="UserId">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#MdlManager">Search</button>
            </div>
            <div class="col-md-3">
               
            </div> 
    </div>   

    <div class="form-group row">
            <div class="col-md-2">
            </div>

            <div class="col-md-8">
                <button type="button" style="float: right;margin-left: 10px;" class="btn btn-danger " (click)="onResetClick()" >Reset</button> 
                <input type="submit" style="float: right;"  class="btn btn-success" value="Save Task" 
                    id="btnSubmit" [disabled]='!taskForm.valid' > 
                   
                </div> 
    </div>


</form>














</div>