<!-- <app-navbar></app-navbar> -->
<alert></alert>
<p-toast></p-toast>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color: white">Navigation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">        
        <a class="nav-link" [routerLink]="['/user']" [routerLinkActive]="['link-active']">User</a>
      </li>
      <li class="nav-item active">        
        <a class="nav-link" [routerLink]="['/project']" [routerLinkActive]="['link-active']">Project</a>
      </li>
      <li class="nav-item active">        
        <a class="nav-link" [routerLink]="['/task']" [routerLinkActive]="['link-active']">Add Task</a>
      </li>
      <li class="nav-item active" >
          <a class="nav-link" [routerLink]="['/viewtask']">View Task</a>
      </li>      
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <h4 class="display-12" style="color: white">Welcome to {{ title }}!</h4>
    </form>
  </div>
</nav>
<!-- nav bar -->

<router-outlet></router-outlet>
