.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs .nav-link.active {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}