<!-- Modal -->
<div class="modal fade" id="MdlProjectManager" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Manager List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
                  <input type="text" class="form-control search_box" placeholder="Search" (keypress)="onSearchPManagerKeyPress($event)"
                   [(ngModel)]="searchManagerText" />
                   <button type="submit" class="btn_search" (click)="searchManager()"><i class="fa fa-search" ></i></button>
          </div>
          
      </div>
      <hr >
  
  <div style="max-height: 300px;overflow-y:auto;">
      <table class="table table-hover" style="max-height: 100px;overflow-y: auto;">
              <thead class="thead-light">
                <tr>
                  <th>Manager Name</th>
                  <th>Emp Id</th>
                  <th>Select</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usr of userLst">
                  <td>{{usr.firstName + " " + usr.lastName +" ("+ usr.empId+")"}}</td>
                  <td>{{usr.empId}}</td>
                  <td>
                    <!-- <button class="btn btn-primary" title="Select" (click)="setManger(usr)">Select</button> -->
                    <input type="radio" name="select_manager" (click)="setManger(usr)" data-dismiss="modal">
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="container p-2 my-4 border ">
    <h4 style="text-align: center;">{{addUpdateText}} Project</h4>
    <hr>
<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
            <div class="col-md-5">
                <label for="projectName">Project:</label>
                <input type="text" class="form-control projectname" placeholder="Project Name" id="projectName" 
                 formControlName="projectName" autocomplete="off">
            </div>
                
            <div class="col-md-5">
                <label for="managerName">Manager:</label>
                <div class="dropdown">
                    <input readonly type="text" style="float:left;width:70%;margin-right: 3px;" class="form-control"   autocomplete="off"
                     placeholder="Manager Name" id="managerName" formControlName="managerName">
                     <button type="button" class="btn btn-info" data-toggle="modal" data-target="#MdlProjectManager" (click)="searchManager()">
                      Search
                    </button>
                     
                </div>
                
                <input type="hidden" id="managervalue" formControlName="managerId">
            </div>

            <div class="col-md-2">
                   
            </div>
    </div>   
    <div class="form-group row">
            <div class="col-md-4">
                <input type="checkbox" class="form-control check_box" (change)="checkChange()"  id="chkdate" formControlName="dateCheck" >    
                <label for="dateCheck">Set Start and End Date</label>
                    <br><br>
                    <label for="rgrange" style="    margin-right: 10px;">Priority:</label>
                    <input type="range"  class="form-control" min="0" max="30" value="15" class="slider" id="rgrange" formControlName="priority">   
            </div>
           
            <div class="col-md-3">
                    <label for="startDate">Start Dtae:</label>
                    <input type="date"  class="form-control"  id="startDate" formControlName="startDtaeDisplay">
            </div>

            <div class="col-md-3">
                    <label for="EndDate">Start Dtae:</label>
                    <input type="date"  class="form-control"  id="EndDate" formControlName="endDateDisplay">
            </div>
            <div class="col-md-2"></div>
            

    </div>
    <div>
        <div class="col-md-2">

        </div>
        <div class="col-md-10" >
            &nbsp;   <button type="button" class="btn btn-danger " style="float:right;" (click)="onReset()" >Reset</button>
            <input type="submit" class="btn btn-success" style="float:right;margin-right: 5px;" value="{{addUpdateText}}" id="btnSubmit" [disabled]='!projectForm.valid' >
         
    </div>
    </div>
</form>
<hr >
<hr >

<div class="row">
            <div class="col-md-4">
                    <input type="text" class="form-control search_box" placeholder="Search"
                     [(ngModel)]="searchText" (keypress)="onKeyDown($event)"/>
                     <button type="submit" class="btn_search" (click)="search()"><i class="fa fa-search" ></i></button>
            </div>
            <div class="col-md-8">
                <span>Sort:</span>
                <button type="button" class="btn btn-default btn_border" (click)="sortName()">Name</button>    
                <button type="button" class="btn btn-default btn_border" (click)="sortstartDate()">Start Date</button>
                <button type="button" class="btn btn-default btn_border" (click)="sortendDate()">End Date</button>
                <button type="button" class="btn btn-default btn_border" (click)="sortPriority()">Priority</button>
                    
            </div>
        </div>
        <hr >

<div style="max-height: 300px;overflow-y:auto;">

        <table class="table table-hover">
                    <thead class="thead-light">
                      <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let proj of projectLst">
                        <td>{{proj.projectName}}</td>
                        <td> {{proj.startDate | date:'mediumDate'}} </td>
                        <td>{{proj.endDate | date:'mediumDate'}}</td>
                        <td>{{proj.priority}}</td>
                        <td>{{proj.isCompleted?'Completed': 'Running'}}</td>
                        <td>
                        <button class="btn btn-primary" title="Edit" [disabled]='!proj.isActive'  (click)="onEdit(proj)">Edit</button> &nbsp;
                        <button class="btn btn-warning" (click)="onsuspend(proj,!proj.isActive)">{{proj.isActive ? 'Suspend' : 'Activate'}}</button>  &nbsp;
                        <button class="btn btn-danger" (click)="onDelete(proj)">Delete</button>
                      </td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
</div>

