.btn_border
{
    border-color: grey;
    margin-left: 10px;
}
.btn_search
{
   height: 92%;
    margin-top: 2px;
}
.search_box
{
    width: 85%;
    float: left;
}

.check_box
{
   
    float: left;
    width: 20px;
    height: 25px;
    margin-right: 10px;
}