

<div class="container p-2 my-4 border ">
    <h4 style="text-align: center;">User {{addUpdateUserText}}</h4>
    <hr>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
            <div class="col-md-6">
                <label for="fName">First Name:</label>
                <input type="text" id="txtFname" class="form-control" autocomplete="off" placeholder="First Name" id="fName" formControlName="firstName">
            </div>
                
            <div class="col-md-6">
                <label for="lName">Last Name:</label>
                <input type="text" class="form-control" autocomplete="off" placeholder="Last Name" id="lName" formControlName="lastName">
            </div>
    </div>   
    <div class="form-group row">
            <div class="col-md-6">
                    <label for="empId">Employee Id:</label>
                    <input type="text" class="form-control" autocomplete="off" placeholder="Employee Id" id="empId" formControlName="empId">
            </div>

            <div class="col-md-6">
                <input type="submit" class="btn btn-success mtop32" value="{{addUpdateUserText}}" id="btnSubmit" [disabled]='!userForm.valid' >
                &nbsp;  <button type="button" class="btn btn-danger mtop32 mleft12" (click)="onReset()" >Reset</button>
            </div>
    </div>
  </form>
    <hr >
    <hr >
    <div class="row">
        <div class="col-md-4">
                <input type="text" class="form-control search_box" placeholder="Search" (keypress)="OnEnterKeyPressed($event)"
                 [(ngModel)]="searchText" />
                 <button type="submit" class="btn_search" (click)="search()"><i class="fa fa-search" ></i></button>
        </div>
        <div class="col-md-8">
            <span>Sort by </span>
               &nbsp; <button type="button" class="btn btn-default btn_border" (click)="sortFirstName()">First Name</button>
               &nbsp; <button type="button" class="btn btn-default btn_border" (click)="sortLastName()">Last Name</button>
               &nbsp; <button type="button" class="btn btn-default btn_border" (click)="sortEmpId()">Employee Id</button>
        </div>
    </div>
    <hr >

<div style="max-height: 300px;overflow-y:auto;">
    <table class="table table-hover" style="max-height: 100px;overflow-y: auto;">
            <thead class="thead-light">
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Emp Id</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usr of userLst">
                <td>{{usr.firstName}}</td>
                <td>{{usr.lastName}}</td>
                <td>{{usr.empId}}</td>
                <td>
                  <button class="btn btn-primary" title="Edit" (click)="onEdit(usr)">Edit</button> &nbsp;
                  <button class="btn btn-warning" (click)="onDelete(usr)">Delete</button>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
</div>
