<!-- Modal Project-->
<div class="modal fade" id="MdlViewTaskProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Search Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
                    <input type="text" class="form-control search_box" placeholder="Search" (keypress)="onSearchProjectKeyPress($event)" name="searchprojectText" 
                     [(ngModel)]="searchprojText" />
                     <button type="submit" class="btn_search" (click)="searchProject()"><i class="fa fa-search" ></i></button>
            </div>
        </div>
        <hr >
    
    <div style="max-height: 300px;overflow-y:auto;">
        <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Select</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let proj of projectLst">
                <td>{{proj.projectName}}</td>
                <td> {{proj.startDate | date:'mediumDate'}} </td>
                <td>{{proj.endDate | date:'mediumDate'}}</td>
                <td>
                    <input type="radio" name="select_project" (click)="projectSelect(proj)" data-dismiss="modal">
              </td>
              </tr>
              
            </tbody>
          </table>
    </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="container p-2 my-4 border " >
    
    <h4 style="text-align: center;">View Task</h4>
<hr>
    <div class="row">
            <div class="col-md-5">
               
                  <input type="text" readonly placeholder="Search Project"  class="form-control search_box" 
                     [(ngModel)]="searchText" (keypress)="onSearchKeyDown($event)"/>
                    
                      <button type="submit" class="btn_search"  data-toggle="modal" data-target="#MdlViewTaskProject"><i class="fa fa-search" ></i></button>
            </div>
            <div class="col-md-7">
                <span>Sort:</span>
                    <button type="button" class="btn btn-default btn_border" (click)="sortStartDate()">Start Date</button>
                    <button type="button" class="btn btn-default btn_border" (click)="sortEndDate()">End Date</button>
                    <button type="button" class="btn btn-default btn_border" (click)="sortPriority()">Priority</button>
                    <button type="button" class="btn btn-default btn_border" (click)="sortCompleted()">Completed</button>
            </div>
        </div>

<hr>

<div *ngIf="!showtaskLst" >
  No task mapped to selected project yet.
</div>
<div *ngIf="showtaskLst" style="max-height: 400px;overflow-y:auto;">

    <table class="table table-hover">
                <tbody>
                  <tr *ngFor="let tsk of taskLst" title="Project Name - {{tsk.projectName}}, Project Id -{{tsk.projectId}} "  [ngClass]="tsk.isCompleted? 'blurred_background': ''">
                    <td><b>Task Name </b><br>
                     <span [ngClass]="tsk.isCompleted? 'task_name-width': 'task_name_bg task_name-width'" title="Project Name - {{tsk.projectName}}, Project Id -{{tsk.projectId}} " >   {{tsk.taskName}}</span>
                    </td>
                    <td>
                       <b> Parent </b><br>
                        <span [ngClass]="tsk.isCompleted? 'task_name-width': 'task_name_bg task_name-width'" >  {{tsk.parentTaskName}}</span>
                    </td>
                    <td><b>Priority</b> <br>
                        {{tsk.priority}}</td>
                    <td><b>Start Date</b><br> {{tsk.startDate | date:'mediumDate'}} </td>
                    <td><b> End Date</b> <br>{{tsk.endDate | date:'mediumDate'}}</td>
                    
                    
                    <td >
                    <button class="btn btn-primary" title="Edit" [disabled]='tsk.isCompleted'  (click)="onEdit(tsk)">Edit</button> &nbsp;
                    <button class="btn btn-warning" [disabled]='tsk.isCompleted' (click)="onComplete(tsk)">{{!tsk.isCompleted ? 'End' : 'Completed'}}</button>  &nbsp;
                  </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
        
        

</div>        
