.edit_button
{
    width: 135px;
}
.blurred_background
{
    color:white!important; 
    background-color: #6c757d!important;
}

.task_name_bg
{
    font-size: 20px;
    background-color: #dee3e6!important;
}

.task_name-width
{
    width:30%
}
.search_box
{
    width: 85%;
    float: left;
}
.btn_search
{
   height: 92%;
    margin-top: 2px;
}

.btn_border
{
    border-color: grey;
    margin-left: 10px;
}
